<md-sidenav-layout [class.m2app-dark]="isDarkTheme" [style.height.%]="100">
    <md-sidenav #sidenav mode="side" class="app-sidenav">
        <md-nav-list>
            <md-list-item *ngFor="let menu of menus"
                [routerLink]="menu.link"
                [routerLinkActive]="['active']">
                <md-icon>{{ menu.icon }}</md-icon>
                <div *ngIf="!showIconOnly">
                    <span>{{ menu.name }}</span>
                </div>
            </md-list-item>
        </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Vinegar

    <span class="app-toolbar-filler"></span>
    <md-input placeholder="Search" [dividerColor]="filter_valid" [ngModel]="search" (ngModelChange)="emitSearch($event)">
        <span md-prefix>
            <i class="material-icons app-input-icon">search</i>
            &nbsp;
        </span>
    </md-input>

  </md-toolbar>

  <div class="app-content">
      <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>
