<!-- <span *ngFor="let data of datas">{{data.name}}</span> -->
<div #stage [style.height.px]="height" style="display:flex;flex-direction:row;background:red" >
    <div style="width:100px;flex:1 0 0;overflow-y:scroll">
        <md-grid-list cols="1"  gutterSize="4px">
           <md-grid-tile [style.background]="'lightblue'">One</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Four</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Two</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Three</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">One</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Four</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Two</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Three</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">One</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Four</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Two</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Three</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">One</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Four</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Two</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Three</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">One</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Four</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Two</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Three</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">One</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Four</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Two</md-grid-tile>
           <md-grid-tile [style.background]="'lightblue'">Three</md-grid-tile>
        </md-grid-list>
    </div>
    <div style="background:green;flex:5 0 0">
        sdsd
    </div>
</div>
